.App {
  height: auto;
  width: 100vw;
  background: linear-gradient(
      rgba(109, 109, 109, 0.7),
      rgba(189, 186, 186, 0.7)
    ),
    url('../../assets/img/Background.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .container {
    height: 90vh;
    width: 100%;
    flex: 1 0 auto;
  }
}
