.PauseMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  > * {
    margin: 40px;
    font-size: 1.2rem;
  }

  span {
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: white;
    font-style: italic;
    text-decoration: underline #26a69a;
  }
}
