.Header {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  .button-pause {
    order: 1;
  }
  .button-mute {
    order: 3;
  }
  .volume-level {
    order: 2;
    width: 50%;
  }
  .button-music {
    order: 4;
  }
}
